.mainContainer{
    background-image: url('../../Images/Biography/play-static.jpg');
    background-size: cover;
    padding: 3rem;

}
h3.heading{
        font-size: 34px;
        font-weight: 600;
        letter-spacing: 0px;
        text-transform: none;
        color: #ffffff;
        text-align: center;
}
.tableStyle table tr td {
    padding: 15px 12px;
    font-size: 20px;
    font-weight: 600;
    background-color: #f3f3f3;
    
}
table tr{
    border-bottom-width: 3px;
    border-bottom: solid white;
}
table td:first-child {
    padding-right: 20px !important;
}
table td:first-child {
    padding-left: 35px !important;
}
table tr:nth-child(odd) {
    color: #949494;
}